* {
  margin: 0;
}

:root {
  font-family: Inter, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  scroll-behavior: smooth;
  color: var(--text-white);
  background-color: var(--dark-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --text-white: #ddd;
  --content-white: #ede1d4;
  --dark-bg: #1b1b1b;
  --accent-color: #ecd46b;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: var(--text-white);
  text-decoration: inherit;

  &:hover {
    color: var(--accent-color);
  }
}

h1 {
  color: var(--accent-color);
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 1.2rem;
  font-style: italic;
  margin-bottom: 3em;
}

header {
  padding: 1em 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: var(--dark-bg);

  .header-logo {
    width: 32px;
    height: 32px;
  }

  ul {
    display: flex;
    gap: 1.5em;
    list-style: none;
    padding: 0;
  }
}

header::before, header::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 25%;
  transition: 1s;
  height: 2px;
  background-color: var(--accent-color);
}
header::before {
  left: 50%;
}
header::after {
  right: 50%;
}
header:hover::before,
header:hover::after {
  width: 50%;
}

main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
}

section {
  margin: 5em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about {
  height: 65vh;
}

.typewriter {
  height: 100%;
  align-content: center;
}

.type {
  font-family: monospace;
  font-size: 3rem;
  color: #0000;
  background:
    linear-gradient(-90deg, var(--text-white) 2px, #0000 0) 8px 0,
    linear-gradient(var(--text-white) 0 0) 0 0;
  background-size: calc(var(--n)*1ch) 200%;
  background-clip: padding-box, text;
  background-repeat: no-repeat;
  animation:
    caret .7s infinite steps(1),
    typing calc(var(--n)*.03s) steps(var(--n)) forwards;
}
@keyframes typing {
  from {background-size: 0 200%;}
}
@keyframes caret {
  50% {background-position: 0 -100%, 0 0;}
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5em;
}

.card {
  display: flex;
  background-color: var(--content-white);
  color: black;
  border-radius: 20px;
  padding: 5px;
  height: 250px;

  img {
    object-fit: cover;
    height: 100%;
    width: 33%;
    border-radius: 20px 0 0 20px;
  }

  figcaption {
    width: 67%;
    padding: 10px;
    box-sizing: border-box;
  }

  a {
    color: black;
    text-decoration: underline;
  }
}

.skills-medals {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.medal {
  background-color: var(--content-white);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  img {
    width: 75%;
    height: 75%;
  }
}

.contact-links {
  display: flex;
  gap: 1.5em;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  justify-content: center;
  background-color: var(--dark-bg);
  display: flex;
  justify-content: center;
  padding: 1em;
  border-top: 2px solid var(--accent-color);

  .links {
    display: flex;
    align-items: center;
    gap: 1.5em;
  }

  img {
    width: 40px;
  }
}

@media (max-width: 768px) {
  header {
    padding: 1em 1em;
    justify-content: unset;

    nav {
      position: absolute;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .header-logo {
      width: 26px;
      height: 26px;
    }
  }

  h1 {
    font-size: 1.5rem;
  }

  section {
    margin: 2em 0;
  }

  h2 {
    margin-bottom: 2em;
    font-size: 1.1rem;
  }

  #about {
    height: auto;

    h1 {
      margin-bottom: 1em;
    }
  }

  .type {
    font-size: 2rem;
  }

  .projects-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 1em;
  }

  .medal {
    width: 75px;
    height: 75px;
  }
}
